.heading {
  color: black;
  text-align: center;
  font-size: 3.5em;

  margin-top: 80px;

  cursor: default;
}

.pin-number {
  color: black;
  text-align: center;
  font-size: 1.75em;

  cursor: default;
}

.grid {
  margin: 70px 120px;

  display: grid;
  grid-gap: 3rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  justify-items: center;
}

.card {
  width: 236px;
  padding: 20px;
  padding-bottom: 0px;
  border-radius: 10px;
  background-color: #dff3e4;
}

.card-image {
  max-width: 100%;
}

.card-pinner {
  font-size: 1.15em;
  color: #2c2343;

  cursor: default;
}

.card-pinner span {
  font-weight: bold;
}

/* screen must be no bigger than portrait tablet */
@media (max-width: 768px) {
  .grid {
    margin: 70px 80px;
  }
}

/* screen must be no bigger than landscape phone or below */
@media (max-width: 480px) {
  .heading {
    font-size: 2.5em;

    margin-top: 70px;
  }

  .pin-number {
    font-size: 1.5em;
  }

  .grid {
    margin: 50px 40px;
  }

  .card-pinner {
    font-size: 1.05em;
  }
}
